<html>
    <head>
        <title>Lily Forman's Blog</title>
    </head>
    <body>
      <center>

        <div>
            <h1><font color="black"><!--<a href="">-->Welcome to Paradise!!<!--</a>--></font></h1>
        </div>


        {% for post in posts %}

        <div>
           <p>published: {{ post.published_date }}</p>
           <h2><b><font color="black">{{ post.title }}</font></b></h2>
           <p>{{ post.text|linebreaksbr }}</p>
        </div>


        {% endfor %}

    <style>

        body {
            color: black;
        }


        body {
    background-image: url("http://i.imgur.com/RhA0CHz.png");
}

p {
  /*border-top-style: dotted;*/
    /*border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;*/
    border: 5px solid green;
    background-color: white;
    opacity: 0.5;
}



@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}

div {
    font-family: myFirstFont;
}

  </style>

  <img src="http://i.imgur.com/ovBO4HG.jpg" alt="chicken tikka masala and rice" style="width:200px;height:228px;">
  <img src="http://i.imgur.com/pndtJb6.jpg" alt="lucky charms" style="width:200px;height:228px;">
  <img src="http://i.imgur.com/2MqoESt.jpg" alt="fried rice" style="width:200px;height:228px;">
    <img src="http://i.imgur.com/8eXgkTn.jpg?1" alt="burger and chicken and rice" style="width:250px;height:228px;">
      <img src="http://i.imgur.com/OyysCSJ.jpg?1" alt="waffle traditional" style="width:200px;height:228px;">
  <img src="http://i.imgur.com/1wxyCSq.jpg?2" alt="smoothie" style="width:400px;height:228px;">


    </body>
</html>
